{% extends 'base.html' %}

{% block title %}Заявки в работе{% endblock %}

{% block content %}
    <div class="circular-container">
        <h1>Заявки в работе ({{ total_in_work }} шт.)</h1>
        <ul>
            {% for feedback_job in in_work %}
                <li>
                    <p>ФИО: {{ feedback_job.last_name }} {{ feedback_job.first_name }} {{ feedback_job.middle_name }}</p>
                    <p>Квартира: {{ feedback_job.apartment }}</p>
                    <p>Сообщение: {{ feedback_job.message }}</p>
                    <p>Дата заявки: {{ feedback_job.datetime_start }}</p>
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
    <span class="step-links">
        {% if in_work.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ in_work.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ in_work.number }} из {{ in_work.paginator.num_pages }}.
        </span>

        {% if in_work.has_next %}
            <a href="?page={{ in_work.next_page_number }}">следующая</a>
            <a href="?page={{ in_work.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
        </div>
    </div>
{% endblock %}