{% extends 'base.html' %}

{% block title %}Создать заявку{% endblock %}

{% block content %}
    <div class="circular-container">
        <h3>Создать заявку</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {% for field in feedback_job_create_form.visible_fields %}
                    {{ field }}
                {% endfor %}
            </div>
            {{ photo_formset.management_form }}
            <div class="form-group">
                {% for form in photo_formset %}
                    <div class="formset-form">
                        {{ form.photo }}
                    </div>
                {% endfor %}
            </div>
            <button type="submit">Отправить</button>
        </form>
    </div>
    <style>
        /* Скрыть текст и чекбокс в форме photo_formset */
        .formset-form label, .formset-form input[type="checkbox"] {
            display: none;
        }
    </style>
{% endblock %}
