{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="circular-container">
        <section class="chairman-info">
            <p>Председатель: {{ info_chairman.fio }}</p>
            <p>Телефон: {{ info_chairman.phone }}</p>
            <p>Время работы: {{ info_chairman.time_start }} - {{ info_chairman.time_end }}</p>
        </section>
        {{ info_chairman.map|safe }}
        <p style="font-size: 12px">Количество просмотров: {{ view_count }}</p>
    </div>
{% endblock %}
